<div class="container margin-bottom-2">
  <div>
    <input #csvInput multiple hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)"
      accept=".csv" />
    <div class="buttons">
      <button class="button is-success" (click)="csvInput.click()">Add CSV File(s)</button>
      <button class="button is-success" (click)="addByJson()">Add JSON</button>
      <label class="checkbox" matTooltipPosition="after" [matTooltip]="quickFormatInfo">
        <input [(ngModel)]="quickFormat" type="checkbox">
        Quick Format
      </label>
    </div>

  </div>
</div>