<div class="container margin-bottom-2">
  <table class="table is-striped">
    <tr>
      <th>
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" placeholder="Column Title">
          </div>
          <div class="control">
            <a class="button is-danger">
              <mat-icon aria-hidden="false" slot="start">close</mat-icon>
            </a>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
  </table>
  <div class="buttons">
    <button class="button is-primary">
      <mat-icon aria-hidden="false" slot="start">save</mat-icon>
      <span slot="end"> Save</span>
    </button>
  </div>

</div>
