<div class="container margin-bottom-2">
  <table class="table is-striped">
    <tr cdkDropList (cdkDropListDropped)="drop($event)" >
      <th cdkDrag *ngFor="let item of columnTitle;let i = index; trackBy:trackByFn">
        <mat-icon aria-hidden="false" slot="start">list</mat-icon>
        <div class="field has-addons">
          <div class="control">
            <input class="input" [(ngModel)]="columnTitle[i]" type="text" placeholder="Column Title">
          </div>
          <div class="control">
            <a class="button is-danger" (click)="removeColumn(item)">
              <mat-icon aria-hidden="false" slot="start">close</mat-icon>
            </a>
          </div>
        </div>
      </th>
      <th>
        <div class="buttons" >
          <button class="button is-primary" (click)="onSaveSelected()">
            <mat-icon aria-hidden="false" slot="start">save</mat-icon>
            <span slot="end"> Save</span>
          </button>
        </div>
      </th>
    </tr>

    <ng-container *ngFor="let itemRow of selectedCsv.data | slice:0:10; let i = index">
      <tr>
        <td *ngFor="let item of selectedCsv.columnTitle">{{itemRow[item]}}</td>
      </tr>
    </ng-container>
  </table>
  <div style="width:100%; text-align: center;" *ngIf="selectedCsv.data.length > 10">
    Displaying 10 of {{selectedCsv.data.length}}
  </div>

</div>
